<nav>
    <div class="site-title">
        <a href="/">Tasks</a>
        <p>All Tasks</p>
    </div>
    <ul>
        <li><a href="/">Tasks</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tasks/create">New Task</a></li>
    </ul>

</nav>