<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ab id quae quibusdam dicta vel fugiat error numquam? Sequi, suscipit quod? Incidunt non aliquid unde repudiandae, tempora expedita explicabo exercitationem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque temporibus amet dolor veritatis qui nostrum, maxime sint aperiam nesciunt inventore officiis ex tempore praesentium accusantium officia repellendus impedit accusamus harum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam alias iste molestiae nemo ducimus eius tenetur corrupti voluptatem numquam voluptas officiis blanditiis optio ipsa eveniet placeat incidunt animi, commodi nesciunt!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>